### Data Preprocessing Pipeline

Edited by Okot Pascal:

Data preprocessing is a critical step in data science tasks, ensuring that raw data is transformed into a clean, organized, and structured format suitable for analysis. A data preprocessing pipeline streamlines this complex process by automating a series of steps, enabling data professionals to efficiently and consistently preprocess diverse datasets.

#### What is a Data Preprocessing Pipeline?

Data Preprocessing involves transforming and manipulating raw data to improve its quality, consistency, and relevance for analysis. It encompasses several tasks, including handling missing values, standardizing variables, and removing outliers. By performing these preprocessing steps, data professionals ensure that subsequent analysis is based on reliable and accurate data, leading to better insights and predictions.

A data preprocessing pipeline is a systematic and automated approach that combines multiple preprocessing steps into a cohesive workflow. It serves as a roadmap for data professionals, guiding them through the transformations and calculations needed to cleanse and prepare data for analysis. The pipeline consists of interconnected steps, each of which is responsible for a specific preprocessing task, such as:

- Imputing missing values
- Scaling numeric features
- Finding and removing outliers
- Encoding categorical variables

By following the predefined sequence of operations, the pipeline ensures consistency, reproducibility, and efficiency in overall preprocessing steps.

#### How does a Data Preprocessing Pipeline Helps Data Professionals?

A Data Preprocessing pipeline is crucial to help various data science professionals, including data engineers, data analysts, data scientists, and machine learning engineers, in their respective roles.

+ For Data Engineers, the pipeline simplifies work by automating data transformation tasks, allowing them to focus on designing scalable data architectures and optimizing data pipelines.

+ Data Analysts benefit from the pipeline’s ability to normalize and clean data, ensuring accuracy and reducing time spent on data cleaning tasks. It allows analysts to spend more time on exploratory data analysis and gaining meaningful insights.

+ Data Scientists and Machine Learning Engineers rely on clean and well-preprocessed data for accurate predictive modelling and advanced analytics. The preprocessing pipeline automates repetitive preprocessing tasks, allowing them efficiently experiment and quickly iterate on their datasets.

Here’s how to create a Data Preprocessing pipeline using Python based on the fundamental functions that every pipeline should perform while preprocessing any dataset:

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
pd.set_option("display.max_columns", None)

In [2]:
# To act as the sample data
data = pd.read_excel('Ug data.xlsx', sheet_name='popln')
data = pd.read_excel('Ug data.xlsx', sheet_name='Diabetes')
data

    Gender    BMI  HbA1c_level
0      NaN  25.19          NaN
1   Female    NaN          6.6
2     Male  27.32          5.7
3   Female  23.45          5.0
4     Male  20.14          4.8
5   Female  27.32          6.6
6      NaN  19.31          6.5
7   Female  23.86          5.7
8     Male  33.64          4.8
9   Female    NaN          5.0
10     NaN  27.32          6.1
11  Female  54.70          NaN
12  Female  36.05          5.0
13  Female  25.69          5.8
14  Female    NaN          5.0
15    Male  27.32          6.6
16    Male  30.36          6.1
17  Female  24.48          5.7
18  Female  27.32          NaN
19    Male  25.72          3.5
20    Male  36.38          6.0
21    Male  18.80          6.2
22  Female  21.24          4.8
23     NaN  27.94          6.5

In [3]:
def data_preprocessing_pipeline(data):
    # To identify categorical and numeric features
    numeric_features = data.select_dtypes(include=['float', 'int']).columns
    categorical_features = data.select_dtypes(include=['object']).columns

    #To handle missing values in numeric features
    data[numeric_features] = data[numeric_features].fillna(data[numeric_features].mean())
    
    #To detect and handle outliers in the numeric features using IQR
    for _ in numeric_features:
        Q1 = data[_].quantile(0.25)
        Q3 = data[_].quantile(0.75)
        IQR = Q3 - Q1
        
        lower_bound = Q1-(1.5*IQR)
        upper_bound = Q3+(1.5*IQR)
        data[_] = np.where((data[_]<lower_bound) | (data[_]>upper_bound), data[_].mean(), data[_])
        
        #Normalise numeric features
        scaler = StandardScaler()
        scaled_data = scaler.fit_transform(data[numeric_features])
        data[numeric_features] = scaler.transform(data[numeric_features])
        
        #To Handle missing values in categorical features
        data[categorical_features] = data[categorical_features].fillna(data[categorical_features].mode().iloc[0])
        
    return data

The above pipeline is designed to handle various preprocessing tasks on any given dataset and the funtionality is explained below:

+ The pipeline begins by identifying the numeric and categorical features in the dataset.

+ It then addresses any missing values present in the numeric features. It fills these missing values with the mean value of each respective numeric feature (you can modify this step according to your desired way of filling in missing values of a numerical feature). It ensures that missing data does not hinder subsequent analysis and computations.

+ The pipeline then identifies and handles outliers within the numeric features using the Interquartile Range (IQR) method. Calculating the quartiles and the IQR determines upper and lower boundaries for outliers. Any values outside these boundaries are replaced with the mean value of the respective numeric feature. This step helps prevent the influence of extreme values on subsequent analyses and model building.

+ After handling missing values and outliers, the pipeline normalizes the numeric features. This process ensures that all numeric features contribute equally to subsequent analysis, avoiding biases caused by varying magnitudes.

+ The pipeline then proceeds to handle missing values in the categorical features. It fills these missing values with the mode value, representing the most frequently occurring category. However for the above data the categorical values don't have missing values.(This is only for Explanation purposes)

In [4]:
#To test the pipeline
cleaned_data = data_preprocessing_pipeline(data)

print("Preprocessed Data")
data

Preprocessed Data

    Gender       BMI   HbA1c_level
0   Female -0.337326 -4.082950e-16
1   Female  0.630865  1.309276e+00
2     Male  0.456427  1.080471e-01
3   Female -0.985743 -8.262424e-01
4     Male -2.219228 -1.093182e+00
5   Female  0.456427  1.309276e+00
6   Female -2.528530  1.175807e+00
7   Female -0.832955  1.080471e-01
8     Male  0.630865 -1.093182e+00
9   Female  0.630865 -8.262424e-01
10  Female  0.456427  6.419268e-01
11  Female  0.630865 -4.082950e-16
12  Female  0.630865 -8.262424e-01
13  Female -0.150999  2.415170e-01
14  Female  0.630865 -8.262424e-01
15    Male  0.456427  1.309276e+00
16    Male  1.589295  6.419268e-01
17  Female -0.601910  1.080471e-01
18  Female  0.456427 -4.082950e-16
19    Male -0.139819 -2.828291e+00
20    Male  0.630865  5.084569e-01
21    Male  0.630865  7.753968e-01
22  Female -1.809309 -1.093182e+00
23  Female  0.687472  1.175807e+00

In [5]:
#To round off the data for easier manipulation and visualisation
df = data.round(4)
df

    Gender     BMI  HbA1c_level
0   Female -0.3373      -0.0000
1   Female  0.6309       1.3093
2     Male  0.4564       0.1080
3   Female -0.9857      -0.8262
4     Male -2.2192      -1.0932
5   Female  0.4564       1.3093
6   Female -2.5285       1.1758
7   Female -0.8330       0.1080
8     Male  0.6309      -1.0932
9   Female  0.6309      -0.8262
10  Female  0.4564       0.6419
11  Female  0.6309      -0.0000
12  Female  0.6309      -0.8262
13  Female -0.1510       0.2415
14  Female  0.6309      -0.8262
15    Male  0.4564       1.3093
16    Male  1.5893       0.6419
17  Female -0.6019       0.1080
18  Female  0.4564      -0.0000
19    Male -0.1398      -2.8283
20    Male  0.6309       0.5085
21    Male  0.6309       0.7754
22  Female -1.8093      -1.0932
23  Female  0.6875       1.1758

So with the above data one can be able to have it in visualisations if need be or create models and much more

https://github.com/OkotPascal